<header id="main">
   
    <div class="container">
    
    <p class="copyright">ⓒ kwontaeuk</p>
    
    <div class="title">
    <h1>안녕하세요,<br><a href="#">권태욱</a> 입니다.</h1>
    </div>

   <div class="nav-wrapper">
   
    <p class="email">Designer, Korea, 1994<br>
kwontw6954@gmail.com</p>

    <nav>
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    
    </div>
   
</div>

</header>

<section id="works">

 <div class="container">
    
    <h2>Works</h2>
    <div class="contents">
        
    </div>
    <a href="#">메인으로 돌아가기</a>
    
   
     
</div>     
 </div>
  

</section>

   <footer id="contact">
     
      <div class="container">
      
      <ul>
          <li>
          <a href ="http://www.facebook.com/ktw6954" target="_blank"><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="index" transform="translate(-811.000000, -2731.000000)" fill="#bbbbbb">
            <g id="footer" transform="translate(0.000000, 2677.000000)">
                <g id="SNS" transform="translate(811.000000, 54.000000)">
                    <path d="M23.9467067,22.4983784 C23.9467067,23.2242162 23.3550676,23.8131892 22.6251402,23.8131892 L16.5228428,23.8131892 L16.5228428,14.5913514 L19.6356342,14.5913514 L20.102031,10.9978378 L16.5228428,10.9978378 L16.5228428,8.70291892 C16.5228428,7.66248649 16.8137701,6.95351351 18.3140677,6.95351351 L20.2279256,6.95286486 L20.2279256,3.73816216 C19.8965555,3.6947027 18.7608954,3.59675676 17.4393289,3.59675676 C14.6800859,3.59675676 12.7910156,5.27156757 12.7910156,8.34745946 L12.7910156,10.9978378 L9.67039654,10.9978378 L9.67039654,14.5913514 L12.7910156,14.5913514 L12.7910156,23.8131892 L1.3215665,23.8131892 C0.5916391,23.8131892 0,23.2242162 0,22.4983784 L0,1.31481081 C0,0.588324324 0.5916391,0 1.3215665,0 L22.6251402,0 C23.3550676,0 23.9467067,0.588324324 23.9467067,1.31481081 L23.9467067,22.4983784" id="Facebook"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a>
     </li>
     
     
     <li>
     <a href="http://www.instagram.com/kkwontaeuk" target="_blank"><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="index" transform="translate(-902.000000, -2731.000000)" fill="#bbbbbb">
            <g id="footer" transform="translate(0.000000, 2677.000000)">
                <g id="SNS" transform="translate(811.000000, 54.000000)">
                    <path d="M112.072658,0 L93.8427378,0 C92.2726438,0 91,1.26227027 91,2.82032432 L91,20.9610811 C91,22.5184865 92.2726438,23.7814054 93.8427378,23.7814054 L112.072658,23.7814054 C113.642752,23.7814054 114.915396,22.5184865 114.915396,20.9610811 L114.915396,2.82032432 C114.915396,1.26227027 113.642752,0 112.072658,0 L112.072658,0 Z M108.189497,3.71545946 C108.189497,3.30551351 108.524128,2.97275676 108.936384,2.97275676 L111.178351,2.97275676 C111.591259,2.97275676 111.92589,3.30551351 111.92589,3.71545946 L111.92589,5.94551351 C111.92589,6.35545946 111.591259,6.68821622 111.178351,6.68821622 L108.936384,6.68821622 C108.524128,6.68821622 108.189497,6.35545946 108.189497,5.94551351 L108.189497,3.71545946 L108.189497,3.71545946 Z M102.985421,7.35567568 C105.52549,7.35567568 107.584812,9.39891892 107.584812,11.9182703 C107.584812,14.4382703 105.52549,16.4808649 102.985421,16.4808649 C100.446004,16.4808649 98.3866827,14.4382703 98.3866827,11.9182703 C98.3866827,9.39891892 100.446004,7.35567568 102.985421,7.35567568 L102.985421,7.35567568 Z M112.67343,20.8086486 C112.67343,21.2185946 112.338798,21.552 111.92589,21.552 L93.9895061,21.552 C93.5765981,21.552 93.2419665,21.2185946 93.2419665,20.8086486 L93.2419665,9.66097297 L96.2314725,9.66097297 C95.8420475,10.2181622 95.7102822,11.2579459 95.7102822,11.9182703 C95.7102822,15.8977297 98.9744079,19.1357838 102.985421,19.1357838 C106.997086,19.1357838 110.261212,15.8977297 110.261212,11.9182703 C110.261212,11.2579459 110.166628,10.2343784 109.683924,9.66097297 L112.67343,9.66097297 L112.67343,20.8086486 L112.67343,20.8086486 Z" id="Instagram"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a>         

     </li>
     
     
     <li>
     <a href="https://www.linkedin.com/in/kwontaeuk/" target="_blank"><svg width="25px" height="22px" viewBox="0 0 25 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="index" transform="translate(-994.000000, -2733.000000)" fill="#bbbbbb">
            <g id="footer" transform="translate(0.000000, 2677.000000)">
                <g id="SNS" transform="translate(811.000000, 54.000000)">
                    <path d="M183.606642,8.97556757 L188.296703,8.97556757 L188.296703,23.7530811 L183.606642,23.7530811 L183.606642,8.97556757 Z M201.111201,8.83351351 C204.444471,8.83351351 207.063469,10.9591351 207.063469,15.5366486 L207.063469,23.7530811 L201.74524,23.7530811 L201.74524,16.1061622 C201.74524,14.1044324 200.913553,12.7383784 199.083843,12.7383784 C197.684652,12.7383784 196.906454,13.6601081 196.544426,14.5487568 C196.408747,14.8678919 196.42962,15.3122162 196.42962,15.7565405 L196.42962,23.7530811 L191.160967,23.7530811 C191.160967,23.7530811 191.228806,10.2073514 191.160967,8.97556757 L196.42962,8.97556757 L196.42962,11.2951351 C196.740769,10.2806486 198.424364,8.83351351 201.111201,8.83351351 Z M185.864916,2 C187.595477,2 188.659383,3.10335135 188.693303,4.56151351 C188.693303,5.99372973 187.595477,7.12756757 185.832301,7.12756757 L185.798381,7.12756757 C184.101088,7.12756757 183,5.99762162 183,4.56540541 C183,3.10594595 184.133051,2 185.864916,2 Z" id="Fill-88"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a>    

     </li>
     
        
        <li>
         <a href="http://www.notefolio.net/kwontaeuk"><svg width="29px" height="18px" viewBox="0 0 29 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="index" transform="translate(-1085.000000, -2737.000000)" fill="#bbbbbb">
            <g id="footer" transform="translate(0.000000, 2677.000000)">
                <g id="SNS" transform="translate(811.000000, 54.000000)">
                    <path d="M285.816701,14.0680862 C286.412593,13.77025 286.863433,13.4388878 287.170788,13.0778978 C287.719636,12.4315465 287.991708,11.5746827 287.991708,10.5127641 C287.991708,9.4812529 287.719636,8.59632075 287.177844,7.85562865 C286.274597,6.64947003 284.742527,6.03196671 282.577713,6 L274,6 L274,23.4125019 L281.998286,23.4125019 C282.899965,23.4125019 283.734214,23.3360937 284.505738,23.1785992 C285.278046,23.0195453 285.945288,22.7295058 286.510602,22.3038028 C287.013974,21.9326771 287.432667,21.475787 287.76668,20.9339122 C288.295926,20.1152525 288.559374,19.1889976 288.559374,18.1574863 C288.559374,17.1563825 288.328073,16.3049764 287.868609,15.6056071 C287.40444,14.9046785 286.721516,14.3932111 285.816701,14.0680862 L285.816701,14.0680862 Z M277.538503,9.02358315 L281.402394,9.02358315 C282.25154,9.02358315 282.950929,9.11480523 283.501346,9.29569004 C284.136441,9.55688147 284.453989,10.0925188 284.453989,10.9057208 C284.453989,11.6347177 284.212496,12.1446258 283.732646,12.4331059 C283.24966,12.721586 282.623189,12.865826 281.854801,12.865826 L277.538503,12.865826 L277.538503,9.02358315 L277.538503,9.02358315 Z M283.646398,20.0840655 C283.219081,20.2875609 282.6177,20.3904781 281.847745,20.3904781 L277.538503,20.3904781 L277.538503,15.7467285 L281.908902,15.7467285 C282.668665,15.7529659 283.261421,15.8527644 283.684034,16.0414459 C284.438308,16.3813846 284.813093,17.0027863 284.813093,17.9103291 C284.813093,18.9808241 284.424979,19.702804 283.646398,20.0840655 Z M292.353483,6.81164261 L299.959734,6.81164261 L299.959734,8.97836195 L292.353483,8.97836195 L292.353483,6.81164261 Z M301.556098,12.7028737 C302.09789,13.4685155 302.446016,14.3565663 302.604398,15.3654669 C302.697702,15.9556816 302.734554,16.8102064 302.719656,17.9220242 L293.156369,17.9220242 C293.213606,19.2123878 293.666014,20.1183712 294.530842,20.6376354 C295.053816,20.9604212 295.684207,21.1225938 296.423584,21.1225938 C297.202164,21.1225938 297.838828,20.9253358 298.327303,20.5331588 C298.595454,20.3187479 298.832243,20.0240305 299.034533,19.6466673 L302.538536,19.6466673 C302.446016,20.4084107 302.020267,21.1857475 301.267561,21.9739999 C300.091458,23.2253797 298.445697,23.8514595 296.329495,23.8514595 C294.581022,23.8514595 293.039543,23.3243985 291.70741,22.267158 C290.36822,21.2122565 289.702546,19.4922915 289.702546,17.1135003 C289.702546,14.8820679 290.305495,13.1706793 291.509825,11.9793345 C292.71729,10.7911084 294.279156,10.193097 296.202476,10.193097 C297.345649,10.193097 298.374347,10.3950331 299.289355,10.7981255 C300.206716,11.1988789 300.961774,11.8350945 301.556098,12.7028737 Z M293.240264,15.6999479 C293.365715,14.8617963 293.671502,14.1975124 294.156057,13.7070963 C294.640611,13.2166802 295.325887,12.9718619 296.204044,12.9718619 C297.014772,12.9718619 297.692207,13.2018663 298.242623,13.6642141 C298.786767,14.1296806 299.094122,14.8056596 299.156064,15.6999479 L293.240264,15.6999479 L293.240264,15.6999479 Z" id="Behance"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a>

     </li>
     
      </ul>
       
    </div> 
</footer>
