html body{
    height: 100%;
    width: 100%;
    background-color:#f9f9f9;
}

#main .container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:75vw;
    height:100vh;
    margin: 0 auto;
}

#main .container h1{
    margin:0 auto;
    width: 608px;
	font-family: NotoSansCJKkr;
	font-size: 70px;
	font-weight: 900;
    line-height: 1.2;
	letter-spacing: -1.2px;
	text-align: center;
	color: #4a4a4a;
}

h1 a{
    color:#256fff;
    text-decoration:none;
    display:inline-block;
    line-height:0.9em;
    border-bottom:9px solid #256fff;
}

.copyright{
    visibility:hidden;
    width:126px;
    margin:26px 0;
    text-align: center;
	font-family: NotoSansCJKkr;
	font-size: 20px;
	letter-spacing: -0.3px;
	color: #9c9c9c;
}


.email{
    display:inline-block;
	font-family: NotoSansCJKkr;
	font-size: 20px;
    font-weight: 400;
	line-height: 1.8;
	color: #9c9c9c;
}

.nav-wrapper {
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
}

nav{
    width:300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-self: flex-end;
}

nav ul{
    width: 300px;
    display:flex;
    justify-content: space-between;
    font-family: NotoSansCJKkr;
	font-size: 20px;
	font-weight: 400;
    line-height: 1.8;
	color: #9c9c9c;
}

nav ul li a{
    text-decoration:none;
    color:#9c9c9c;
}
.container{
    width:75vw;
    margin:0 auto;
}
#works{
    height:100vh;
    
}


#works h2{
    display:block;
    text-align:center;
    margin-top:15vh;
    font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #444444;
}

#works .contents{
    height:85vh;
}

#works a{
    display:block;
    text-decoration:none;
    text-align:center;
    font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #256fff;
}


#contact{
    display:block;
    background-color:#eaeaea;
    height: 16vh;
}

#contact ul{
    display:flex;
    width:18vw;
    height:16vh;
    margin:0 auto;
    justify-content:space-between;
    align-items:center;
    background-color:none;
}

#about .container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:75vw;
    height:100vh;
    margin:0 auto;
}

#about .hidden{
 visibility: hidden;
    padding-bottom:20vh;

}

#about .for_align{

}

#about h2{
    text-decoration:none;
    text-align:center;
    font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #256fff;
}


#about .title{
    margin-top:2vh;
}

#about. arrow{
    
}

#about .short{
    display:flex;
    flex-direction: row;
    font-size: 20px;
    color:#a9a9a9;
    line-height:1.5;
    padding-bottom:10vh;

}

#about .keywords{
    border-bottom:1px solid #a9a9a9;
    padding-right:50px;
}

#about .friendly{
    padding-left:20px;
}


#detail .double_arrow{
    width:50px;
    margin:200px auto;
}


#detail .personal_info{
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-decoration:none;
   
    
}

#detail .personal_info .left{
    width: 357px;
    text-align: right;
    padding-top: 77px;
    border-top: solid 7px #256fff;
    font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #256fff;
}

#detail .personal_info .wrapper{
    display:flex;
    flex-direction: column;
    padding:79px 0;
    border-top: solid 1px #979797;
    color:#4a4a4a;
}

#detail .personal_info .right_1{
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
    padding-left: 200px;
    line-height: 1.85;
}


#detail .personal_info .right_2{
    margin-top:20px;
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
    padding-left: 200px;
    line-height: 1.85;
}


#detail .brief_intro{
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-decoration:none;
    border-bottom: solid 1px #979797;
   
    
}

#detail .brief_intro .left{
    width: 357px;
    text-align: right;
    padding-top: 77px;
    border-top: solid 7px #256fff;
    font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #256fff;
}

#detail .brief_intro .wrapper{
    padding: 79px 0;
    display:flex;
    flex-direction: column;
    border-top: solid 1px #979797;
    color:#4a4a4a;
}

#detail .brief_intro .right_1{
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
    padding-left: 200px;
    line-height: 1.85;
}


#detail .brief_intro .right_2{
    margin-top:40px;
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
	color: #4a4a4a;
    padding-left: 200px;
    line-height: 1.85;
}

#detail .brief_intro .right_3{
    margin-top:40px;
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
	color: #4a4a4a;
    padding-left: 200px;
    line-height: 1.85;
}


#detail .brief_intro .right_4{
    margin-top:40px;
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
	color: #4a4a4a;
    padding-left: 200px;
    line-height: 1.85;
}

#detail .brief_intro .right_5{
    margin-top:40px;
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
	color: #4a4a4a;
    padding-left: 200px;
    line-height: 1.85;
}

#detail .brief_intro .right_6{
    margin-top:40px;
    width: 585px;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
	color: #4a4a4a;
    padding-left: 200px;
    line-height: 1.85;
}

#detail a{
    display:block;
    text-align: center;
    font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #256fff;
    padding:8vh 0;
    text-decoration: none;
}










